<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="shield.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <shield.Properties.Settings>
            <setting name="com_port" serializeAs="String">
                <value />
            </setting>
            <setting name="cam_on_color" serializeAs="String">
                <value>FF0000</value>
            </setting>
            <setting name="cam_off_color" serializeAs="String">
                <value>000000</value>
            </setting>
            <setting name="mic_on_color" serializeAs="String">
                <value>FF0000</value>
            </setting>
            <setting name="mic_off_color" serializeAs="String">
                <value>000000</value>
            </setting>
            <setting name="beep" serializeAs="String">
                <value>True</value>
            </setting>
        </shield.Properties.Settings>
    </userSettings>
</configuration>